<!channel> - ID: {{appt_id}}

[{{appt_type}}] request node: {{node_number}}

Who: {{name}}
When: *{{date}}* at {{time}}
Where: {{address}}
Phone: {{phone}}

Additional Notes: {{notes}}

Are you available? Thread here
