<!channel> - ID: {{appt_id}}

{{ "*Cancelled* - " if cancel }}[{{appt_type}}] request node: <https://www.nycmesh.net/map/nodes/{{node_number}}|{{node_number}}>

Who: {{name}}
When: *{{date}}* at {{time}}
Where: {{address}}
Phone: {{phone}}

Additional Notes: {{notes}}

{{ private_notes if private_notes|length }}

Are you available? Thread here
