Django==2.2.22
django-cors-headers==3.2.0
django-debug-toolbar==2.1
django-filter==2.2.0
djangorestframework==3.11.0
Jinja2==2.10.3
python-dateutil==2.8.1
slackclient==2.5.0
psycopg2==2.8.4
requests==2.22.0
gunicorn==20.0.4
auth0-python==3.9.1
