<!channel> - ID: {{appt.appt_id}}

{% if appt.cancel -%}*Cancelled* - {% endif %}[{{appt.appt_type}}] request node: <https://www.nycmesh.net/map/nodes/{{appt.node_id}}|{{appt.node_id}}>

Who: {{appt.name}}
When: *{{date}}* at {{time}}
Where: {{appt.address}} (<https://www.google.com/maps/place/{{appt.address | urlencode}}|Google Maps>, <https://maps.apple.com/?q={{appt.address | urlencode}}|Apple Maps>)
Phone: {{appt.phone}}

Additional Notes: {{appt.notes}}

{% if appt.private_notes|length -%}{{ appt.private_notes }}{%- endif %}

Are you available? Thread here
